.card{
  width: 97%;
  height: 97vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: var(--spacing-large);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);

  &-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;

    &__box{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-element__name{
    padding: var(--spacing-medium);
    font-weight: bold;
  }

  &-element__price{
    padding: var(--spacing-medium);
    color: var(--color-unaccent);
  }

  &-element__delete{
    background-color: #203040;
    border: none;
    color: #ffffff;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;

    &:hover{
      background-color: #ff8000;
      color: #000000;
    }
  }

  &__close{
    border: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;

    &:hover{
      svg{
        fill: #ff8000;
      }
    }

    svg{
      width: 2rem;
      fill: #203040;
    }
  }
}